.btn-diary {
    margin: 2rem 0 1rem 5rem;
    width: 150px;
}

.diary {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 200x;
    margin: 1rem auto;
    padding: 15px;
    text-align: justify;
}

.img-div {
    margin-right: 20px;
}

.dlt-btn {
    margin-right: 15px;
}